@import 'variables';

.content-container {
  width: $main-container-width;
  max-width: $app-max-width;
  margin: 15px auto 0 auto;
}

.link {
  font-weight: normal;
  text-decoration: none;
}
.link:hover {
  text-decoration: underline;
}
.link:not(:last-child) {
  margin-right: 15px;
}
.link.selected {
  font-weight: bold;
}

.clear {
  clear: both;
}